@use "sass:map";
// Thanks to: David Xu from: https://david-x.medium.com/light-mode-dark-mode-dynamic-theming-through-scss-mixin-c86e57a4de49

$themes: (
    light: (text-color: #000,
        bg-color: #fff,
        fa-color: #b2f080,
        sa-color: #65e000,
    ),
    dark: (text-color: #fff,
        bg-color: #2c2c2c,
        fa-color: #377a00,
        sa-color: #325316,
    )
);

@mixin make-themes ($themes) {
    @each $name, $values in $themes {
        .#{$name} {
            $theme-map: $values !global;
            @content;
        }
    }
}

@function get-color($scheme-name) {
    @return map.get($theme-map, $scheme-name);
}