$nav-gap: 16px;
$padding: 8px;
$header-height: 56px;
$nav-height: 40px;
$tablet-width: 768px;
$laptop-width: 1024px;
$light-round: 5px;
$gallery-gap: 16px;
$gallery-cell-width: 304px;
$gallery-cell-height: 228px;
$hover-transition-time: 0.25s;
$form-gap: 16px;
$form-input-border: 2px;