@use 'constants';
@use 'color_scheme';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container>* {
    width: 100%;
    padding: constants.$padding;
}

.visible {
    visibility: visible;
}

header {
    position: sticky;
    top: 0;
    height: constants.$header-height;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        button {
            width: 40px;
            height: 40px;
            display: block;
            background-image: url('assets/menu_icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
        }
    }

    nav {
        width: 100%;

        ul {
            display: flex;
            gap: constants.$nav-gap;
            flex-flow: column nowrap;
            align-items: center;
            list-style-type: none;
            visibility: hidden;
            padding: constants.$padding;
        }

        a {
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: constants.$tablet-width) {
    header {
        flex-flow: row nowrap;

        div {
            flex: 1;

            button {
                display: none;
            }
        }

        nav {
            flex: 3;

            ul {
                flex-flow: row nowrap;
                justify-content: flex-end;
                visibility: visible;
            }
        }
    }
}

main {
    section {
        scroll-margin-top: constants.$header-height;
    }
}

footer {
    text-align: center;
}

@include color_scheme.make-themes (color_scheme.$themes) {
    header {
        background-color: color_scheme.get-color("bg-color");
    }

    .nav-link {
        color: color_scheme.get-color("text-color");
    }

    .open-menu-bt {
        background-color: color_scheme.get-color("bg-color");
    }

    .nav-menu {
        background-color: color_scheme.get-color("bg-color");
    }
}