@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container > * {
  width: 100%;
  padding: 8px;
}

.visible {
  visibility: visible;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
header nav {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header nav img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header nav div {
  padding-left: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
header nav div .open-menu-bt {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 5px;
  background-image: url("assets/menu_icon_light.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
header nav div .change-theme-bt {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 5px;
  background-image: url("assets/light_mode.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
header nav ul {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  visibility: hidden;
}
header nav a {
  border-radius: 5px;
  text-decoration: none;
  display: block;
  padding: 8px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  justify-content: center;
}
.gallery a {
  display: block;
  width: 660px;
  height: 390px;
  overflow: hidden;
  background-color: #fff;
}
.gallery a img {
  width: 100%;
  height: 100%;
}
.gallery a video {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  header nav div {
    order: 2;
  }
  header nav div .open-menu-bt {
    display: none;
  }
  header nav ul {
    flex: 3;
    flex-flow: row nowrap;
    justify-content: flex-end;
    visibility: visible;
  }
}
main section {
  scroll-margin-top: 56px;
}

footer {
  text-align: center;
}

.light .container {
  background-color: #fff;
  color: #000;
}
.light header {
  background-color: #fff;
}
.light .nav-link {
  color: #000;
}
.light .nav-link:hover {
  background-color: #b2f080;
}
.light .nav-link:active {
  background-color: #65e000;
}
.light .open-menu-bt {
  background-color: #fff;
}
.light .open-menu-bt:hover {
  background-color: #b2f080;
}
.light .open-menu-bt:active {
  background-color: #65e000;
}
.light .nav-menu {
  background-color: #fff;
}
.light .change-theme-bt {
  background-color: #fff;
}
.light .change-theme-bt:hover {
  background-color: #b2f080;
}
.light .change-theme-bt:active {
  background-color: #65e000;
}

.dark .container {
  background-color: #2c2c2c;
  color: #fff;
}
.dark header {
  background-color: #2c2c2c;
}
.dark .nav-link {
  color: #fff;
}
.dark .nav-link:hover {
  background-color: #377a00;
}
.dark .nav-link:active {
  background-color: #325316;
}
.dark .open-menu-bt {
  background-color: #2c2c2c;
}
.dark .open-menu-bt:hover {
  background-color: #377a00;
}
.dark .open-menu-bt:active {
  background-color: #325316;
}
.dark .nav-menu {
  background-color: #2c2c2c;
}
.dark .change-theme-bt {
  background-color: #2c2c2c;
}
.dark .change-theme-bt:hover {
  background-color: #377a00;
}
.dark .change-theme-bt:active {
  background-color: #325316;
}

/*# sourceMappingURL=main.css.map */
